In [82]:
import pandas as pd

In [6]:
df_2020 = pd.read_csv('./신한카드 데이터/df_2020.csv')

In [99]:
df_2019 = pd.read_csv('./신한카드 데이터/df_2019_상반기.csv')

In [100]:
def area_취급액(df_area):
    df_area = df_area[df_area['업종2'] != '교통']
    df_area = df_area.groupby('업종2')['취급액'].sum()
    df_area = pd.DataFrame(df_area)
    return df_area

In [109]:
df_2020 = df_2020[df_2020['거주지'] != df_2020['가맹점']]
df_2019 = df_2019[df_2019['거주지'] != df_2019['가맹점']]

In [116]:
세종 = df_2019[df_2019['가맹점'] == '세종']
부산 = df_2019[df_2019['가맹점'] == '부산']
울산 = df_2019[df_2019['가맹점'] == '울산']
대구 = df_2019[df_2019['가맹점'] == '대구']
대전 = df_2019[df_2019['가맹점'] == '대전']
광주 = df_2019[df_2019['가맹점'] == '광주']
인천 = df_2019[df_2019['가맹점'] == '인천']
서울 = df_2019[df_2019['가맹점'] == '서울']
경기 = df_2019[df_2019['가맹점'] == '경기']
강원 = df_2019[df_2019['가맹점'] == '강원']
전남 = df_2019[df_2019['가맹점'] == '전남']
경남 = df_2019[df_2019['가맹점'] == '경남']
경북 = df_2019[df_2019['가맹점'] == '경북']
충남 = df_2019[df_2019['가맹점'] == '충남']
전북 = df_2019[df_2019['가맹점'] == '전북']
충북 = df_2019[df_2019['가맹점'] == '충북']
제주 = df_2019[df_2019['가맹점'] == '제주']

In [117]:
세종19 = area_취급액(세종)
부산19 = area_취급액(부산)
울산19 = area_취급액(울산)
대구19 = area_취급액(대구)
대전19 = area_취급액(대전)
광주19 = area_취급액(광주)
인천19 = area_취급액(인천)
서울19 = area_취급액(서울)
경기19 = area_취급액(경기)
강원19 = area_취급액(강원)
전남19 = area_취급액(전남)
경남19 = area_취급액(경남)
경북19 = area_취급액(경북)
충남19 = area_취급액(충남)
전북19 = area_취급액(전북)
충북19 = area_취급액(충북)
제주19 = area_취급액(제주)

In [119]:
세종20 = df_2020[df_2020['가맹점'] == '세종']
부산20 = df_2020[df_2020['가맹점'] == '부산']
울산20 = df_2020[df_2020['가맹점'] == '울산']
대구20 = df_2020[df_2020['가맹점'] == '대구']
대전20 = df_2020[df_2020['가맹점'] == '대전']
광주20 = df_2020[df_2020['가맹점'] == '광주']
인천20 = df_2020[df_2020['가맹점'] == '인천']
서울20 = df_2020[df_2020['가맹점'] == '서울']
경기20 = df_2020[df_2020['가맹점'] == '경기']
강원20 = df_2020[df_2020['가맹점'] == '강원']
전남20 = df_2020[df_2020['가맹점'] == '전남']
경남20 = df_2020[df_2020['가맹점'] == '경남']
경북20 = df_2020[df_2020['가맹점'] == '경북']
충남20 = df_2020[df_2020['가맹점'] == '충남']
전북20 = df_2020[df_2020['가맹점'] == '전북']
충북20 = df_2020[df_2020['가맹점'] == '충북']
제주20 = df_2020[df_2020['가맹점'] == '제주']

In [120]:
세종2020 = area_취급액(세종20)
부산2020 = area_취급액(부산20)
울산2020 = area_취급액(울산20)
대구2020 = area_취급액(대구20)
대전2020 = area_취급액(대전20)
광주2020 = area_취급액(광주20)
인천2020 = area_취급액(인천20)
서울2020 = area_취급액(서울20)
경기2020 = area_취급액(경기20)
강원2020 = area_취급액(강원20)
전남2020 = area_취급액(전남20)
경남2020 = area_취급액(경남20)
경북2020 = area_취급액(경북20)
충남2020 = area_취급액(충남20)
전북2020 = area_취급액(전북20)
충북2020 = area_취급액(충북20)
제주2020 = area_취급액(제주20)

In [121]:
def area_나이_연령별_취급액(df_area):
    df_area = df_area[df_area['업종2'] != '교통']
    df_area = df_area.groupby('업종2')['취급액'].sum()
    df_area = pd.DataFrame(df_area)
    return df_area

       거주지 가맹점 가맹점2 업종1 업종2 성별  연령대    이용년월     요일 이용시간대       취급액  이용건수
0       대전  세종    .  여행  숙박  M   30  202001    RED    활동  510000.0    10
1       인천  세종    .  여행  체험  M   40  202001    RED    휴식  105060.0     5
1174    경남  세종    .  여행  숙박  M   60  202001    RED    휴식  255000.0     5
1175    전북  세종    .  여행  숙박  M   50  202001  WHITE    활동  341700.0    10
1763    충북  세종    .  여행  체험  M   30  202001  WHITE    활동  188700.0     5
...     ..  ..  ...  ..  .. ..  ...     ...    ...   ...       ...   ...
678232  경남  세종    .  여행  숙박  M   30  202006    RED    활동  102200.0     5
678233  경기  세종    .  여행  숙박  M   50  202006  WHITE    취침  204400.0     5
678835  충북  세종    .  여행  숙박  M   20  202006    RED    휴식  255500.0     5
678836  충북  세종    .  여행  숙박  F   20  202006  WHITE    휴식  485450.0    10
678837  충북  세종    .  여행  숙박  M   20  202006    RED    취침  153300.0     5

[1676 rows x 12 columns]